<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Birth:</b>
  <%= @patient.birth %>
</p>

<p>
  <b>Address:</b>
  <%= @patient.address %>
</p>

<p>
  <%= link_to 'New Exam', new_patient_exam_path(@patient) %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>
