<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Birth:</b>
  <%= @patient.birth %>
</p>

<p>
  <b>Address:</b>
  <%= @patient.address %>
</p>

<table class="table">
  <tr>
    <td>Exam</td>
    <td>Description</td>
  </tr>

  <% @patient.exams.each do |exam| %>
    <tr>
      <td><%= link_to  exam.date, patient_exam_path(@patient, exam) %></td>
      <td><%= exam.description %></td>
    </tr>
  <% end %>
</table>

<p>
  <%= link_to 'New Exam', new_patient_exam_path(@patient) %>
</p>
<p>
  <%= link_to 'New Appointment', new_patient_appointment_path(@patient) %>
</p>

<%= link_to 'Edit', edit_patient_path(@patient) %> |
<%= link_to 'Back', patients_path %>