<h1>Listing appointments</h1>

<table class="table table-hover">
  <tr>
    <th>Start</th>
    <th>End</th>
    <th>Title</th>
    <th>Patient</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @appointments.each do |appointment| %>
  <tr>
    <td><%= appointment.start.strftime("%d/%m/%Y %H:%M") %></td>
    <td><%= appointment.end.strftime("%d/%m/%Y %H:%M") %></td>
    <td><%= appointment.title %></td>
    <td><%= appointment.patient.name %></td>
    <td><%= link_to 'Show', appointment %></td>
    <td><%= link_to 'Edit', edit_appointment_path(appointment) %></td>
    <td><%= link_to 'Destroy', appointment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Appointment', new_appointment_path %>
