<p id="notice"><%= notice %></p>

<p>
  <b>Date:</b>
  <%= @exam.date %>
</p>

<p>
  <b>Description:</b>
  <%= @exam.description %>
</p>


<%= link_to 'Edit', edit_patient_exam_path(@patient, @exam) %> |
<%= link_to 'Back', patient_path(@patient) %>
